body {
    font-family: Arial, sans-serif;
    background-color:beige;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}
form {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}
label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}
input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button {
    width: 100%;
    background:red;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    margin-top: 15px;
    cursor: pointer;
    font-size: 16px;
}
button:hover {
    background: #218838;
}
.input-group{
    display:flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.input-group input{
    border-radius: 5px;
    font-size:20px;
    margin-top:5px;
    padding:10px;
    border:1px solid rgb(34,193,195) ;
}

.input-group input:focus{
    outline:0;
}

.input-group .error{
    color:rgb(242, 18, 18);
    font-size:16px;
    margin-top: 5px;
}

.input-group.success input{
    border-color: #0cc477;
}

.input-group.error input{
    border-color:rgb(206, 67, 67);
}